<p-panel>
  <p-header>
    <p-inputSwitch [(ngModel)]="trackEnabled"></p-inputSwitch>
    <button pButton type="button" icon="fa-play" class="ui-button-success"></button>
    <button pButton type="button" icon="fa-trash" class="ui-button-secondary"></button>
  </p-header>
  <div>
    <audio [src]="audioUrl" loop="true" #audio></audio>
  </div>
  <div #wavesurfer class="wave-container">

  </div>

  <div>
    <h4>Pan:</h4>
    <p-slider [(ngModel)]="panValue" [min]="-100" [max]="100" [step]="5" (onChange)="onPan()"></p-slider>
  </div>  
  <div>
      <h4>Delay:</h4>
      <p-slider [(ngModel)]="delayValue" [min]="0" [max]="100" [step]="1" (onChange)="onDelay()"></p-slider>
  </div>  
</p-panel>

