<div class="navbar" >
  <span class="button-wrapper">
    <button pButton class="ui-button-success" (click)="onPlay()" label="Play all" [disabled]="isRecording"></button>
    <button pButton class="ui-button-danger"  [ngClass]="flashing" (click)="onToggleRecording()" [label]="recLabel"></button>
  </span>
</div>

<div class="main ui-g">
  <div *ngFor="let audioUrl of audioUrls" class="ui-md-6 ui-sm-12">
    <app-track controls [audioUrl]="audioUrl" [togglePlay]="togglePlay" [toggleRecording]="toggleRecording"></app-track> 
  </div>
</div>


